<h1>Vet, zie hieronder alle items</h1>
<p>Find me in app/views/items/index.html.erb</p>

<% @items.each do |item| %>
<b><%= item.title %></b>
<%= link_to 'Destroy', item_path(item),
              method: :delete,
              data: { confirm: 'Weet je dat echt heel zeker?' } %>
<br />
<%= item.description %><br />
<a href="http://nos.nl/"><%= item.url %></a><br />
<hr>

<% end %>